<%= form_with model: upload, 
  url: main_app.url_for(controller: params[:controller], action: upload.new_record? ? "create" : "update"), 
  method: upload.new_record? ? :post : :patch, local: true do |form| %>

  <% if form.object.errors.any? %>
    <%= form.object.errors.size %> <%= "error".pluralize(form.object.errors.size) %> occured:
    <ul>
      <% form.object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <%= form.hidden_field :file, value: form.object.cached_file_data %>
  
  <div data-controller="pshr-file">
    <% if form.object.file %>
      <%= render "pshr/uploads/file", file: form.object.file %>
    <% end %>

    <%= form.hidden_field :file, value: form.object.file %>
    <%= form.file_field :file %>
  </div>

  <%# nested fields for assignments %>
  <%= form.fields_for :assignments do |assignment_form| %>
    <%= assignment_form.hidden_field :assignable_type %>
    <%= assignment_form.hidden_field :assignable_id %>
  <% end %>

  <%# hidden fields for redirection to association %>
  <%= hidden_field_tag :assignable_type, association&.class.to_s %>
  <%= hidden_field_tag :assignable_id, association&.id %>

  <%= form.submit "#{form.object.new_record? ? 'Create' : 'Update'} upload" %>
<% end %>
