<div class="pshr-thumb">
  <% if file.image? %>
    <%= image_tag file.derivation_url(:thumb, 640) %>
  <% elsif file.video? %>
    <%= video_tag file.url, preload: "metadata" %>
  <% else %>
    <div class="pshr-thumb__placeholder" data-extension="<%= File.extname(file.original_filename) %>"></div>
  <% end %>
</div>
