<div class="pshr-upload">
  <% if upload.file %>
    <%= render("pshr/uploads/file", file: upload.file) %>
    <%= upload.file.original_filename %><br>
    <%= number_to_human_size(upload.file.size) %>
  <% end %>
</div>
