<% if @resource %>
  <%= render "pshr/uploads/form", upload: @resource, association: @association %>
<% end %>

<h1><%= "Post #{@association.id} " if @association %>Uploads</h1>

<% if @resources.any? %>
  <div>
    <% @resources.each do |upload| %>
      <li><%= render "pshr/uploads/upload", upload: upload %></li>
    <% end %>
  </div>
<% end %>
